.title {
  color: yellowgreen;
}

.loginbar {
  background: #f5f5dc;
  width: 300px;
  height: 100vh;
  box-shadow: 5px 5px 5px 1px gray;
}

.navbar {
  background: greenyellow;
  padding:  20px;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
}

.linkitem {
  height: 20px;
}